<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Funkey | Home page</title>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop&display=swap" rel="stylesheet">

	<!-- Bootstrap core CSS -->
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
		integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- Additional CSS Files -->
	<link rel="stylesheet" href="/css/funkey.css">
	<link rel="stylesheet" href="/css/homepage.css">
	<link rel="stylesheet" href="/css/levels.css">
	<link rel="stylesheet" href="/css/particles.css">

	<!-- Favicons -->
	<!-- <link rel="icon" type="image/png" sizes="32x32" href="assets/icon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/icon/favicon-16x16.png">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/icon/apple-touch-icon.png">
	<link rel="manifest" href="assets/icon/site.webmanifest"> -->

	<link rel="shortcut icon" href="assets/icon/logo.ico" type="image/x-icon">
	<!-- <link rel="icon" type="" sizes="32x32" href="assets/icon/logo.ico"> -->

	<style>
		.practice-typing-video-container {
			opacity: 0.9;
			/* mix-blend-mode: screen; */
			display: block;
			margin: auto;
			width: 100%;
			margin-top: 100px;
			border-radius: 23px;
			position: relative;
			z-index: 1000;
			background-color: transparent;
		}

		.practice-typing-video {
			width: 100%;
			border-radius: inherit;
			z-index: 1001;
		}

		.practice-typing-video-overlay {
			border-radius: inherit;
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: #1114;
			opacity: 0;
			z-index: 100000;
			transition: 1s ease;
		}

		.practice-typing-video-overlay:hover {
			opacity: 0.9;
		}

		.practice-typing-video-overlay h1 {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			font-size: 1.5rem;
			opacity: 0.95;
			cursor: pointer;
			transition: font-weight 0.25s ease;

			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-evenly;
			gap: 0.25em;
			align-items: center;
		}

		.practice-typing-video-overlay h1 * {
			display: inline-block;
		}

		.practice-typing-video-overlay h1:hover {
			font-weight: bold;
		}

		.video-label {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 100%;
			height: 100%;

			vertical-align: middle;
			transform: translate(-50%, -50%);

			text-shadow: 2px 2px 4px #1114;
			font-size: 1.5rem;
			opacity: 0.9;
			text-align: center;
			padding-top: 0.5em;
		}

		.practice-typing-video:hover>.video-label {
			opacity: 0;
		}

		.toggle-video-volume {
			display: block;
			position: absolute;
			right: 1.25em;
			top: 1.25em;

			color: #f7f7f7;
			font-size: 1rem;
			cursor: pointer;
			z-index: 1000000;
		}

		.toggle-video-volume:hover {
			color: #eee;
		}

		#particles-js {
			position: absolute;
			/* z-index: 1000000000; */
			z-index: 1;
			height: 100%;
			width: 100%;
			top: 0% !important;
			left: 0% !important;
			border-radius: 0;

			/* transform: translateX(-50%); */

			/* transform: none; */

		}

		.main-banner {
			position: relative;
		}

		.banner-img {
			width: fit-content;
			height: fit-content;
			margin-top: 5em;
			float: right;
			/* border-radius: 50%; */
			border-radius: 23px;
			overflow: hidden;
			opacity: 0.8;
			/* box-shadow: 0px 0px 15px 10px #1115 inset; */
			z-index: 1000;
		}

		.login {
			padding: 0 !important;
			height: 1em !important;
			line-height: 1.2 !important;
			margin-top: 0.5em;
		}
	</style>

</head>

<body>

	<!-- ***** Preloader Start ***** -->
	<div id="js-preloader" class="js-preloader" style="display: none !important;">
		<div class="preloader-inner">
			<span class="dot"></span>
			<div class="dots">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- ***** Preloader End ***** -->

	<!-- ***** Header Area Start ***** -->
	<header class="header-area header-sticky">
		<nav class="main-nav">
			<!-- ***** Logo Start ***** -->
			<div onclick="location.href='/'" class="logo" style="cursor: pointer;" class="logo">
				<img src="assets/images/logo.png" alt="">
				<h4 class="logo-header">
					FunKey
				</h4>
			</div>
			<!-- ***** Logo End ***** -->

			<!-- ***** Search End ***** -->
			<div class="search-input">
				<form id="search" action="#">
					<input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
					<i class="fa fa-search"></i>
				</form>
			</div>
			<!-- ***** Search End ***** -->
			<!-- ***** Menu Start ***** -->
			<ul class="nav">
				<li><a href="/" class="active">Home</a></li>
				<li><a href="/browse">Browse</a></li>
				<li><a href="/practice">Practice</a></li>
				<li><a href="/piano">Piano</a></li>
				<% if (!avatar) { %>
					<li class="login"><a href="/login" class="active">Login</a></li>
					<% } else { %>
						<li><a href="/profile">Profile <span class="profile-pic-cont"><img class="profile-pic" src="<%= avatar %>"
										alt=""></span></a></li>
						<% } %>
							<!-- <li><a href="profile.html">Login <img src="assets/images/logo.png" alt=""></a></li> -->
			</ul>
			<a class='menu-trigger'>
				<span>Menu</span>
			</a>
			<!-- ***** Menu End ***** -->
		</nav>
	</header>
	<!-- ***** Header Area End ***** -->

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-content">

					<!-- ***** Banner Start ***** -->
					<div class="main-banner">
						<div class="row main-banner-row" style="display: flex; flex-direction: row; flex-wrap: nowrap	;">
							<div class="col-lg-7" style="text-align: left;">
								<div class="header-text">
									<h6>Welcome To <em>FunKey</em></h6>
									<h4><em>Practice</em> Typing, having the Ultimate <em>Fun</em></h4>
									<!-- <h4><em>Practice</em> Typing Having THE MOST Fun</h4> -->
									<div class="main-button">
										<a href="browse.html">Let's Go</a>
									</div>
								</div>
							</div>
							<div class="banner-img">
								<img
									src="https://user-images.githubusercontent.com/74038190/216644497-1951db19-8f3d-4e44-ac08-8e9d7e0d94a7.gif">
							</div>
						</div>
					</div>
					<!-- ***** Banner End ***** -->

					<!-- ***** Most Popular Start ***** -->
					<div class="most-popular">
						<div class="row">
							<div class="col-lg-12">
								<div class="heading-section">
									<h4><em>Most Popular</em> Right Now</h4>
								</div>
								<div class="row">
									<div class="col-lg-3 col-sm-6">
										<div class="item">
											<div class="upload">
												<i class="fa fa-cloud-upload-alt" aria-hidden="true"></i>
												<!-- <i class="fa fa-upload" aria-hidden="true"></i> -->
											</div>

											<div class="footnote upload-caption">
												<h4 class="text-truncate"><span>Upload Music</span><span>upload your Music</span></h4>
												<ul>
													<!-- <li><i class="bi bi-collection-play"></i>&nbsp; 0</li> -->
													<!-- <li><i class="fa fa-upload"></i>&nbsp; 0</li> -->
													<li><i class="fa fa-music"></i>&nbsp; 0</li>
													<!-- <li><i class="bi bi-upload"></i>&nbsp; 0</li> -->
													<!-- <li><i class="fa fa-cloud-upload"></i>&nbsp; 23</li> -->
												</ul>
											</div>
										</div>
									</div>

									<% musics.forEach(music=> { %>

										<div class="col-lg-3 col-sm-6">
											<div class="item music-card" data-toggle="modal" data-target="#levelsModal">
												<div class="thumbnail" data-image-url="<%= music.thumbnail %>">
													<div class="play-icon-container">
														<i class="bi bi-play-circle"></i>
													</div>
													<input type="hidden" name="music" value="<%= music._id %>">
												</div>


												<div class="footnote caption">
													<h4 class="text-truncate"><span>
															<%= music.artist %>
														</span><span>
															<%= music.title %>
														</span></h4>
													<ul>
														<li><i class="fa fa-thumbs-up"></i>
															<%= music.rating.toFixed(1) %>
														</li>
														<li><i class="fas fa-users"></i>
															<%= music.views %>
														</li>
													</ul>
												</div>
											</div>
										</div>

										<% }); %>


								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="main-button view-library-btn">
								<a href="/browse">Browse <i class="fas fa-music"></i></a>
							</div>
						</div>
					</div>
					<!-- ***** Most Popular End ***** -->

					<!-- ***** Gaming Library Start ***** -->
					<div class="practice-typing-video-container">
						<!-- <h1 class="video-label">Practice typing with virtual Piano.</h1> -->
						<i class="fas fa-volume-mute toggle-video-volume" onclick="$(this).toggleClass('fa-volume-mute fa-volume-up'); 
											 $(this).parent().find('video').prop('muted',
											 !$(this).parent().find('video').prop('muted'));"></i>
						<div class="practice-typing-video-overlay">
							<h1 class="btn btn-dark" onclick="location.href='/piano'"><i class="fab fa-itunes-note"></i> <span> Play </span>
							<!-- <h1 class="btn btn-dark" onclick="location.href='/piano'"><i class="fas fa-music"></i>&nbsp; Play -->
							</h1>
						</div>
						<video class="practice-typing-video" width="90%" autoplay muted loop>
							<source src="/assets/videos/piano.mp4" type="video/mp4">
							Your browser does not support the video tag.
						</video>
					</div>

					<div class="practice-typing-video-container">
						<h1 class="video-label">Practice typing with AI generated content.</h1>
						<i class="fas fa-volume-mute toggle-video-volume" onclick="$(this).toggleClass('fa-volume-mute fa-volume-up'); 
											 $(this).parent().find('video').prop('muted',
											 !$(this).parent().find('video').prop('muted'));"></i>
						<div class="practice-typing-video-overlay">
							<h1 class="btn btn-warning" onclick="location.href='/practice'"><i class="fas fa-keyboard"></i> Practice
							</h1>
						</div>
						<video class="practice-typing-video" width="90%" autoplay muted loop style="filter: grayscale(100);">
							<source src="/assets/videos/practice-forest-bg.mp4" type="video/mp4">
							Your browser does not support the video tag.
						</video>
					</div>

				</div>
			</div>
		</div>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p>Copyright © 2024 <a href="#">Funkey</a> | Learn typing. All rights reserved.

							<br>Design: <a href="https://templatemo.com" target="_blank" title="free CSS templates">TemplateMo</a>
						</p>
					</div>
				</div>
			</div>
		</footer>




		<!-- Modals -->
		<div class="modal fade levels-modal" tabindex="-1" id="levelsModal" aria-labelledby="levelsModalLabel"
			aria-hidden="true">
			<div class="modal-dialog">
				<form class="modal-content levels-form">
					<div class="modal-header border-secondary">
						<h5 class="modal-title" id="levelsModalLabel">Play Music</h5>
						<!-- <h5 class="modal-title">Select Level</h5> -->
						<i onclick="$('.levels-modal').modal('hide')" class="bi bi-x-octagon text-danger" type="button"
							data-bs-dismiss="modal" aria-label="Close"></i>
						<!-- <i onclick="$('.levels-modal').hide()" class="bi bi-x-octagon text-danger" type="button" data-bs-dismiss="modal" aria-label="Close"></i> -->
					</div>
					<div class="modal-body border-dark">
						<div class="level-selector-container">
							<img class="thumbnail-img"
								src="https://external-preview.redd.it/b5R5gXGYfBVWVIppxnX5T0Bdtt1hJSK7XnUN6ypf_9s.jpg?width=640&crop=smart&auto=webp&s=eb12b986353e8b1bf2bfa6c8928707d8194dfc06"
								alt="">
							<div class="level-selector-title">Ed Sheeran - Perfect</div>
							<!-- Select Level -->
							<div class="btn-group btn-group-toggle level-buttons" data-toggle="buttons">
								<label class="btn btn-outline-success brand-bg" data-level="easy">
									<input type="radio" name="options" autocomplete="off" style="display: none;"> Easy
								</label>
								<label class="btn btn-outline-warning brand-bg" data-level="medium">
									<input type="radio" name="options" autocomplete="off" style="display: none;"> Medium
								</label>
								<label class="btn btn-outline-danger brand-bg" data-level="hard">
									<input type="radio" name="options" autocomplete="off" style="display: none;"> Hard
								</label>
								<label class="btn btn-outline-secondary brand-bg custom-btn" data-level="custom" id="customBtn">
									<input type="radio" name="options" autocomplete="off" style="display: none;"> Custom
								</label>
							</div>

							<!-- Custom Options -->
							<div class="custom-options border border-secondary" id="customOptions" style="display: none;">
								<div class="form-check">
									<label class="form-check-label" for="customOption1">Capital Letters</label>
									<input name="capital-letters" class="form-check-input" type="checkbox" id="customOption1">
								</div>
								<div class="form-check">
									<label class="form-check-label" for="customOption2">Punctuation marks</label>
									<input name="Punctuation" class="form-check-input" type="checkbox" id="customOption2">
								</div>
								<div class="form-check">
									<label class="form-check-label" for="customOption3">Double spaces</label>
									<input class="form-check-input" type="checkbox" id="customOption3">
								</div>
								<div class="form-check">
									<label class="form-check-label" for="customOption4">Speed</label>
									<select class="form-select" name="speed" aria-label="Default select example">
										<option value="1">0.25</option>
										<option value="2">0.5</option>
										<option value="3">0.75</option>
										<option selected>1.0</option>
										<option value="1">1.25</option>
										<option value="2">1.5</option>
										<option value="3">1.75</option>
										<option value="3">2.0</option>
									</select>
								</div>
							</div>

							<!-- Begin Button -->
							<div style="display: block; width: 100%;">
								<!-- <button id="start" class="btn btn-outline-info btn-lg mt-3 align-middle" style="display: none;" onclick="start()">BEGIN</button> -->
								<img class="level-img" src="" alt="" style="display: none;" width="1px">
								<!-- <button id="start" class="btn btn-lg mt-3 align-middle" style="display: none;" onclick="start()">
								BEGIN
							</button> -->
							</div>
						</div>
					</div>
					<!-- <div class="modal-footer border-secondary"> -->
					<div class="modal-footer border-0">
						<!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
						<!-- <button type="button" class="btn btn-primary">Play</button> -->
						<button id="start" type="submit" class="btn btn-primary btn-lg">Play</button>
					</div>
					<input type="hidden" name="music" value="">
				</form>
			</div>
		</div>

		<!-- Modals 2 -->
		<div class="modal fade upload-modal" tabindex="-1" id="uploadModal" aria-labelledby="uploadModalLabel"
			aria-hidden="true">
			<div class="modal-dialog">
				<form class="modal-content">
					<div class="modal-header border-secondary">
						<h5 class="modal-title" id="levelsModalLabel">Play Music</h5>
						<!-- <h5 class="modal-title">Select Level</h5> -->
						<i onclick="$('.upload-modal').modal('hide')" class="bi bi-x-octagon text-danger" type="button"
							data-bs-dismiss="modal" aria-label="Close"></i>
						<!-- <i onclick="$('.upload-modal').hide()" class="bi bi-x-octagon text-danger" type="button" data-bs-dismiss="modal" aria-label="Close"></i> -->
					</div>
					<div class="modal-body border-dark">
						<div class="level-selector-container">
							<img class="thumbnail-img"
								src="https://external-preview.redd.it/b5R5gXGYfBVWVIppxnX5T0Bdtt1hJSK7XnUN6ypf_9s.jpg?width=640&crop=smart&auto=webp&s=eb12b986353e8b1bf2bfa6c8928707d8194dfc06"
								alt="">
							<div class="level-selector-title">Ed Sheeran - Perfect</div>
							<input type="hidden" name="artist" value="">
							<input type="hidden" name="title" value="">
							<!-- Select Level -->
							<div class="btn-group btn-group-toggle level-buttons" data-toggle="buttons">
								<label class="btn btn-outline-success brand-bg" data-level="easy">
									<input type="radio" name="options" autocomplete="off" style="display: none;"> Easy
								</label>
								<label class="btn btn-outline-warning brand-bg" data-level="medium">
									<input type="radio" name="options" autocomplete="off" style="display: none;"> Medium
								</label>
								<label class="btn btn-outline-danger brand-bg" data-level="hard">
									<input type="radio" name="options" autocomplete="off" style="display: none;"> Hard
								</label>
								<label class="btn btn-outline-secondary brand-bg custom-btn" data-level="custom" id="customBtn">
									<input type="radio" name="options" autocomplete="off" style="display: none;"> Custom
								</label>
							</div>

							<!-- Custom Options -->
							<div class="custom-options border border-secondary" id="customOptions" style="display: none;">
								<div class="form-check">
									<label class="form-check-label" for="customOption1">Capital Letters</label>
									<input name="capital-letters" class="form-check-input" type="checkbox" id="customOption1">
								</div>
								<div class="form-check">
									<label class="form-check-label" for="customOption2">Punctuation marks</label>
									<input name="Punctuation" class="form-check-input" type="checkbox" id="customOption2">
								</div>
								<div class="form-check">
									<label class="form-check-label" for="customOption3">Double spaces</label>
									<input class="form-check-input" type="checkbox" id="customOption3">
								</div>
								<div class="form-check">
									<label class="form-check-label" for="customOption4">Speed</label>
									<select class="form-select" name="speed" aria-label="Default select example">
										<option value="1">0.25</option>
										<option value="2">0.5</option>
										<option value="3">0.75</option>
										<option selected>1.0</option>
										<option value="1">1.25</option>
										<option value="2">1.5</option>
										<option value="3">1.75</option>
										<option value="3">2.0</option>
									</select>
								</div>
							</div>

							<!-- Begin Button -->
							<div style="display: block; width: 100%;">
								<!-- <button id="start" class="btn btn-outline-info btn-lg mt-3 align-middle" style="display: none;" onclick="start()">BEGIN</button> -->
								<img class="level-img" src="" alt="" style="display: none;" width="1px">
								<!-- <button id="start" class="btn btn-lg mt-3 align-middle" style="display: none;" onclick="start()">
								BEGIN
							</button> -->
							</div>
						</div>

					</div>
					<!-- <div class="modal-footer border-secondary"> -->
					<div class="modal-footer border-0">
						<button id="start" type="button" class="btn btn-primary btn-lg">Play</button>
					</div>
				</form>
			</div>
		</div>

		<!-- Bootstrap JS and dependencies -->
		<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

		<!-- <script src="assets/js/isotope.min.js"></script>
		<script src="assets/js/owl-carousel.js"></script>
		<script src="assets/js/tabs.js"></script> -->
		<script src="/js/popup.js" defer></script>
		<script src="/js/custom.js" defer></script>
		<script src="/js/levels.js" defer></script>
		<script defer>
			let lastScroll = 0;
			window.addEventListener('scroll', () => {
				if (Date.now() - lastScroll > 100) {
					// Your scroll event logic here
					lastScroll = Date.now();
				}
			});

			$(document).ready(function () {
				$('#levelsModal').modal({
					backdrop: true, // Allows closing the modal by clicking outside of it
					keyboard: true,  // Allows closing the modal by pressing the escape key
					show: false
				});

				$('#uploadModal').modal({
					backdrop: true, // Allows closing the modal by clicking outside of it
					keyboard: true,  // Allows closing the modal by pressing the escape key
					show: false
				});

				$('.thumbnail').each(function () {
					var imageUrl = $(this).data('image-url');
					$(this).css('background-image', 'url(' + imageUrl + ')');
				});

				// $('#levelsModal').modal('hide');
				// $('#levelsModal').hide();
			});
		</script>
		<!-- <script src="/js/particles.js"></script> -->

		<script>
			// Create a new <script> element
			const particlesScript = document.createElement('script');
			const particlesContainer = document.createElement('div');
			particlesContainer.classList.add('particle-wrapper');
			particlesContainer.innerHTML = `<div>
		<div id="particles-js"></div>
	</div>`;

			particlesScript.src =
				'https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js';

			// Set up a callback for when the script is loaded
			particlesScript.onload = () => {
				// Initialize particles.js
				particlesJS('particles-js', {
					particles: {
						number: {
							value: 80,
							density: {
								enable: true,
								value_area: 800,
							},
						},
						color: {
							value: '#ffffff',
						},
						shape: {
							type: 'circle',
							stroke: {
								width: 0, // Set stroke width to 0 to hide lines
								color: '#000000',
							},
							polygon: {
								nb_sides: 5,
							},
							image: {
								src: 'img/github.svg',
								width: 100,
								height: 100,
							},
						},
						opacity: {
							value: 0.5,
							random: false,
							anim: {
								enable: false,
								speed: 1,
								opacity_min: 0.1,
								sync: false,
							},
						},
						size: {
							value: 3,
							random: true,
							anim: {
								enable: false,
								speed: 40,
								size_min: 0.1,
								sync: false,
							},
						},
						line_linked: {
							enable: false, // Disable lines between particles
							distance: 150,
							color: '#ffffff',
							opacity: 0.4,
							width: 1,
						},
						move: {
							enable: true,
							speed: 6,
							direction: 'none',
							random: false,
							straight: false,
							out_mode: 'out',
							bounce: false,
							attract: {
								enable: false,
								rotateX: 600,
								rotateY: 1200,
							},
						},
					},
					interactivity: {
						detect_on: 'canvas',
						events: {
							onhover: {
								enable: true,
								mode: 'grab',
							},
							onclick: {
								enable: true,
								mode: 'push',
							},
							resize: true,
						},
						modes: {
							grab: {
								distance: 140,
								line_linked: {
									opacity: 1,
								},
							},
							bubble: {
								distance: 400,
								size: 40,
								duration: 2,
								opacity: 8,
								speed: 3,
							},
							repulse: {
								distance: 200,
								duration: 0.4,
							},
							push: {
								particles_nb: 4,
							},
							remove: {
								particles_nb: 2,
							},
						},
					},
					retina_detect: true,
				});
			};

			// Append the <script> element to the <body>
			$('.main-banner-row')[0].appendChild(particlesContainer);
			// document.getElementsByClassName('header-area')[0].appendChild(particlesContainer);
			document.body.appendChild(particlesScript);

		</script>

</body>

</html>